.logo {
	position: absolute;
  	top: 0;
  	left: 0px;
  	padding: 0 90px 1px;
  	width: 100%;
  	height: 100%;
	text-align: center;
}

.sair{
	position: relative;
  	left:90%;
  	margin-bottom:-5%;
  	width:2em;
  	height:2em;
  	border-radius: 0px 20px 0px 20px;
	text-align: right;
}
.text{
	margin-left:1%;
	margin-right:15%;
	margin-bottom:2%;
	border:groove;	

}
.slot2{
	background-color:blue;
	width: 100%;
  	height: 100%;
  	margin-bottom:2%;
}