<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      User
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="slot2"> 
</div>
<ion-fab-button class="sair" >Sair</ion-fab-button> 
<input class="text" name="text" type="text" placeholder="Digite uma mensagem">
