<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      ChatIn
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="slot2">
  <ion-fab-button class="login" [routerLink] = "['/map']" >SYNC</ion-fab-button>  
</div>
<input class="name" name="nome" type="nome" placeholder="Insira seu Nome">