

.logo {
	position: absolute;
  	top: 0;
  	left: 0px;
  	padding: 0 90px 1px;
  	width: 100%;
  	height: 100%;
	text-align: center;
}

.login{
	position: relative;
  	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  	width:22em;
  	height:22em;
  	border-radius: 0px 20px 0px 20px;
	text-align: center;
}
.slot2{
	width: 100%;
	height:100%;
	background-color:white;
}

.name{
	height:5%;
	width:90%;
	margin-left:5%;
	margin-bottom:2%;
	border:groove;	
}